<h1 class="form_header">Edit <%= @veterinarian.name %></h1>
<%= simple_form_for @veterinarian do |f| %>
<% if @veterinarian.errors.any? %>
<div id="error_explanation-veterinarian">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this veterinarian from being saved:</h2>

        <ul>
        <% @veterinarian.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class="form-inputs">
      <%= f.input :name, label: 'Name', autofocus: true %>
      <%= f.input :phone_number, label: 'Phone Number', autofocus: true %>
      <%= f.input :address, label: 'Address', autofocus: true %>
      <%= f.input :city, label: 'City', autofocus: true %>
      <%= f.input :state, label: 'State', autofocus: true %>
      <%= f.input :zip_code, label: 'Zip Code', autofocus: true %>
    </div>
    <div class='form-actions'>
      <%= f.button :submit, 'Update' %>
      <p><%= link_to "Delete Veterinarian", veterinarian_path(@veterinarian.id), data: { confirm: "Are you sure?" }, method: :delete, style: 'color: #474747;' %> <br />
        <%= link_to "Back", :back, class: 'link' %></p>
    </div>
    <% end %>
  </div>
</div>
