<% if user_signed_in? && current_user.admin? %>
  <%= simple_form_for @veterinarian do |f| %>
  <% if @veterinarian.errors.any? %>
  <div id="error_explanation-veterinarian">
          <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this veterinarian from being saved:</h2>

          <ul>
          <% @veterinarian.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="form-inputs">
        <h1 class="form_header">Add New Veterinarian</h1>
        <%= f.label :name, 'Name', class: 'form-actions' %>
        <%= f.input :name %>
        <%= f.label :phone_number, 'Phone Number', class: 'form-actions' %>
        <%= f.input :phone_number %>
        <%= f.label :address, 'Address', class: 'form-actions' %>
        <%= f.input :address %>
        <%= f.label :city, 'City', class: 'form-actions' %>
        <%= f.input :city %>
        <%= f.label :state, 'State', class: 'form-actions' %>
        <%= f.input :state %>
        <%= f.label :zip_code, 'Zip Code', class: 'form-actions' %>
        <%= f.input :zip_code %>
        <div class='form-actions'>
          <%= f.button :submit, 'Submit' %>
          <p><%= link_to "Back", :back, class: 'link' %> <br />
            <%= link_to 'Home', user_path(current_user) %></p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
