
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="form-inputs">
        <h2 class='form_header'>Edit <%= resource_name.to_s.humanize %></h2>
        <%= f.label :name, 'Name', class: 'form-actions' %>
        <%= f.input :name, required: true %>
        <%= f.label :email, 'Email', class: 'form-actions' %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.label :phone_number, 'Phone Number', class: 'form-actions' %>
        <%= f.input :phone_number %>
        <%= f.label :address, 'Address', class: 'form-actions' %>
        <%= f.input :address %>
        <%= f.label :city, 'City', class: 'form-actions' %>
        <%= f.input :city %>
        <%= f.label :state, 'State', class: 'form-actions' %>
        <%= f.input :state %>
        <%= f.label :zip_code, 'Zip Code', class: 'form-actions' %>
        <%= f.input :zip_code %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.label :password, "Password, leave blank if you don't want to change", class: 'form-actions' %>
        <%= f.input :password, autocomplete: "off", required: false %>
        <%= f.label :password_confirmation, 'Password Confirmation', class: 'form-actions' %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.label :current_password, "we need your current password to confirm your changes", class: 'form-actions' %>
        <%= f.input :current_password, required: true %>
        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
        <% end %>
        <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'link' %><br />
          <%= link_to "Back", :back, class: 'link' %></p>
      </div>

  </div>
</div>
