<%= simple_form_for @horse do |f| %>
<% if @horse.errors.any? %>
<div id="error_explanation-horse">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>

        <ul>
        <% @horse.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class="form-inputs">
      <h1 class="form_header">Add New Horse</h1>
      <%= f.label :registered_name, 'Registered Name', class: 'form-actions' %>
      <%= f.input :registered_name %>
      <%= f.label :barn_name, 'Barn Name', class: 'form-actions' %>
      <%= f.input :barn_name, required: true %>
      <%= f.label :breed, 'Breed', class: 'form-actions' %>
      <%= f.input :breed, required: true %>
      <%= f.label :discipline, 'Discipline', class: 'form-actions' %>
      <%= f.input :discipline %>
      <%= f.label :user_id, 'Owner', class: 'form-actions' %>
      <%= f.select :user_id, User.all.collect { |p| [p.name, p.id] } %>
      <%= f.label :veterinarian_id, 'Veterinarian', class: 'form-actions' %>
      <%= f.select :veterinarian_id, Veterinarian.all.collect { |v| [v.name, v.id] } %>
      <%= f.label :farrier_id, 'Farrier', class: 'form-actions' %>
      <%= f.select :farrier_id, Farrier.all.collect { |f| [f.name, f.id] } %>
      <%= f.input :picture, type: :file, class: 'form-actions' %>
      <div class="form-actions">
        <%= f.button :submit, 'Submit' %>
        <p><%= link_to "Back", :back, class: 'link' %> <br />
          <%= link_to 'Home', user_path(current_user) %></p>
        </div>
        <% end %>
    </div>
  </div>
</div>
