<h1 class="form_header">Add New Horse</h1>
<%= simple_form_for @horse do |f| %>
<% if @horse.errors.any? %>
<div id="error_explanation-horse">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>

        <ul>
        <% @horse.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class="form-inputs">
      <%= f.input :registered_name, label: 'Registered Name' %>
      <%= f.input :barn_name, label: 'Barn Name', required: true %>
      <%= f.input :breed, label: 'Breed', required: true %>
      <%= f.input :discipline, label: 'Discipline' %>
      <%= f.label :user_id, 'Owner' %>
      <%= f.select :user_id, User.all.collect { |p| [p.name, p.id] } %>
      <%= f.label :veterinarian_id, 'Veterinarian' %>
      <%= f.select :veterinarian_id, Veterinarian.all.collect { |v| [v.name, v.id] } %>
      <%= f.label :farrier_id, 'Farrier' %>
      <%= f.select :farrier_id, Farrier.all.collect { |f| [f.name, f.id] } %>
      <%= f.input :picture, type: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Submit' %>
      <p><%= link_to "Back", :back, class: 'link' %> <br />
         <%= link_to 'Home', user_path(current_user), style: 'color: #474747;' %></p>
    </div>
    <% end %>
  </div>
</div>
