<br></br>
<br></br>
<br></br>
<br></br>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class='event_info'>
      <h1 class='event_header'>For: <%= @event.horse.barn_name%><h1>
        <h3 class='event_data'><%= @event.date.strftime("%B %d, %Y")%> at <%= @event.time %></h3>
        <h3 class='event_data'>Description: <%= @event.description %></h3>
        <h3 class='event_data'>Additional Info: <%= @event.notes %></h3>
    </div>
  </div>
</div
