<div class='wrapper'>
<br></br>
<%= simple_form_for @charge do |f| %>
<% if @charge.errors.any? %>
<div id="error_explanation-charge">
        <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

        <ul>
        <% @charge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class="form-inputs">
      <h1 class="form_header">Add New Charge</h1>
      <%= f.label :horse_id, 'Horse', class: 'form-actions' %>
      <%= f.select :horse_id, Horse.all.collect { |h| [h.barn_name, h.id] } %>
      <%= f.label :date, 'Due Date', class: 'form-actions' %>
      <%= f.date_select('date',
          options = { start_year: 2017, order: [:month, :day, :year]},
          html_options = { class: 'select-date'})  %>
      <%= f.label :amount, 'Amount', class: 'form-actions' %>
      <%= f.input :amount %>
      <%= f.label :description, 'Description', class: 'form-actions' %>
      <%= f.input :description %>
      <div class="form-actions">
        <%= f.button :submit, 'Submit' %>
        <p><%= link_to "Back", :back, class: 'link' %><br />
          <%= link_to 'Home', user_path(current_user) %></p>
        </div>
    </div>
  </div>
    <% end %>
  </div>
</div>
