<!DOCTYPE html>
<html>
  <head>
    <title>BreakableToy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if action_name === 'show' %>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigate", style='background: #474747;'>
        <ul class="title-area", style='background: #474747;'>
          <li class="name">
            <h1 class='site_name', style='font-size: 25px;'> Seagull Performance Horses</h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <% if user_signed_in? %>
              <li class='word'>
                <%= link_to "Edit Account", edit_user_registration_path, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
              <li>
                <%= link_to "Home", root_path, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
              <li>
                <%= link_to "Back", :back, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", new_user_session_path, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
              <li>
                <%= link_to "Home", root_path, style: "background: #474747; color: #008CBA; font-family: 'Josefin Sans', sans-serif;" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
